
*{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dark-mode-text{
    color: #e0e0e0;
}

.logo-gradient{
	background: linear-gradient(to right, #ff5252 0%, #ff9800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.icon-block p{
    font-weight: 100;
}

#nav-header:hover, #nav-header:focus{
    background-color: #404040;
}

.btn{
    border-radius: 10px;
}

.btn:hover, .btn:focus{
    background-color:#757575;
    box-shadow:  0 0 10px #eee;
    transition: 0.5s;
}

#icons{
    color: #f57c00;
}


.btn-grad {
    background-image: linear-gradient(to right, #ff5252 0%, #ff9800 100%);
    text-align: center;
    transition: 0.5s;
    background-size: auto;
    color: white;
 }

 .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    box-shadow: 0 0 20px #eee;
    text-decoration: none;
}

 .nav-wrapper{
    padding: 0 50; 
}

nav ul a{
    color: white;
}

nav, .sidenav{
    background-color: #202020;
}

.sidenav-trigger {
    color: #404040;
}

.drk-bg{
    background-color: #202020;
}

.dropdown-content{
    margin-top: 20px;
}

body{
    background-color: #000000 ;
}

.parallax
{
    background-color: #000000;
}

.dark-card{
    background-color: #202020;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.icon-block {
  padding: 3 15 0 15;
  margin-top: 20;
  background-color: #202020;
  border-radius: 10px;
  min-height: 320;
}

.icon-block p{
    color: #e9e9e9;
}

.icon-block .material-icons {
  font-size: inherit;
}


footer.page-footer {
  margin: 0;
}


footer{
    background-color: #202020;
    padding-top: 10px;
}

.upload-dashboard{
    background-color: #202020;
    /* height: 100; */
    border-radius: 10px;
}

/* .upload-option-dropdown-content{
    transition: max-height 1s;
    max-height: 0; 
} */

.upload-option .collapsible-header{
    padding-bottom: 10px;
    border-radius: 10px;
}

.upload-option .collapsible-body{
    padding: 0px 20;
    padding-bottom: 30px;
}


.file-dashboard-content{
    height: 600;
    border: #e9e9e9 solid 1px;
    border-radius: 10px;
    margin-right: 16;
}

#file-list{
    overflow-y: scroll;
    /* background-color: #000000; */
    height: 420;
}

.scroll{
    position: relative;
}

.shade{
    position:absolute; 
    height: 27px; 
    left: 0px;
    right: 0px;
    top: 403px;
    z-index:10;
    /* background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(152,152,152,0) 40%, rgba(23,23,23,1) 90%, rgba(0,0,0,1) 99%); /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(152,152,152,0)), color-stop(90%,rgba(23,23,23,1)), color-stop(99%,rgba(0,0,0,1))); Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,1) 90%,rgba(0,0,0,1) 99%); Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,1) 90%,rgba(0,0,0,1) 99%); Opera 11.10+ */
    /* background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(152,152,152,0) 40%,rgba(23,23,23,1) 90%,rgba(0,0,0,1) 99%); IE10+ */ 
    background: linear-gradient(to bottom, rgb(0 0 0/ 0%) 0%,rgb(0 0 0 / 100%) 70%); /* W3C */
}

.file-dashboard-content .card{
    
    transition: 0.4s;
    border-radius: 10px;
    border: solid 1px #e9e9e9;
    background-color: #000000;
}

.file-dashboard-content .card:hover{
    box-shadow: 0px 10px 30px 0px rgba(230, 19, 19, 0.25);
    background-color: #202020;
    /* box-shadow: rgba(82, 140, 234, 0.2) 0px 10px 30px 2px, rgba(82, 140, 234, 0.2) 10px 2px 30px 2px, rgba(82, 140, 234, 0.2) 0px 20px 30px 2px; */
}

/* .file-dashboard .card:hover{
    box-shadow: 0 0 5px #979797;
} */

.wrap-text{
    overflow-wrap: break-word;
}

::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }

@media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }

    .file-dashboard{
        /* margin-top: 20px; */
        margin: 20px;
    }

    .nav-wrapper{
        padding: 0 20; 
    }

    .upload-dashboard{
        /* margin-top: 20px; */
        margin: 10px;
    }

    .file-dashboard-content{
        margin: 10px;
    }

    .icon-block{
        min-height: 350;
    }
    #connect-section {
        text-align: left;
    }
  }